* {
    font-family: monospace;
  }
  
  .UpdateProfile-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #efe9e2;
  }
  
  .UpdateProfile-main {
    height: 500px;
    width: 350px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
  }
  
  .UpdateProfile-label {
    color: #fff;
    justify-content: center;
    font-size: 2.3em;
    margin: 60px;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  .UpdateProfile-input {
    height: 20px;
    margin-top: 10px;
    width: 60%;
    background: #e0dede;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px auto;
    outline: none;
    border-radius: 5px;
  }
  
  .UpdateProfile-button {
    height: 40px;
    width: 60%;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #4b3832;
    font-weight: bold;
    font-size: 1em;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  
  .UpdateProfile-button:hover {
    background: #4b3832;
  }
  
  .UpdateProfile {
    background: #eee;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
    border-radius: 60%/10%;
    height: 460px;
  }
  
  .UpdateProfile label {
    color: #4b3832;
    transform: scale(0.6);
  }
  
  .UpdateProfile:checked~.Profile {
    transform: translateY(-500px);
  }
  
  .UpdateProfile:checked~.Profile label {
    transform: scale(1);
  }
  